/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
}

header img {
  margin: 20px 0;
  width: 80px;
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.navbar-menu a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.navbar-menu a:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/* barre de recherche */

.search-form {
  display: flex;
  width: 300px;
  height: 50px;
}

.icon {
  float: right;
  width: 20%;
  padding: 12px 20px;
  background: var(--main-bg-color);
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
}

.search-form input[type="text"] {
  font-weight: bold;
  padding: 10px;
  font-size: 17px;
  width: 180px;
  border: 2px solid var(--main-bg-color);
  border-right: none;
}

.search-form button {
  float: left;
  width: 120px;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  font-weight: bold;
  border: none !important;
}

/* main */

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.herbergements-grid .card {
  width: 32%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
